// Register Form
html
    head
        style
            include css/registerForm.css
    body
        div
            h1 Register Form
            if (have_error)
                h2(style='color:red') #{error_message}
            form(name='register' action='' method='post')
                p
                    b #{login}
                    br
                    input(name='login' type='text' placeholder=placeholderLogin required)
                p
                    b #{password}
                    br
                    input(name='password' type='text' placeholder=placeholderPassword required)
                p
                    b #{firstName}
                    br
                    input(name='firstName' type='text' placeholder=placeholderFirstName required)
                p
                    b #{secondName}
                    br
                    input(name='lastName' type='text' placeholder=placeholderSecondName required)
                p
                    b #{sex}
                    br
                    input.radio(name='sex' type='radio' value='man')
                    a #{man}
                    br
                    input.radio(name='sex' type='radio' value='woman')
                    a #{woman}
                    br
                p
                    input(type='submit' value=sendMessage)
                p
                    input(type='reset' value=resetMessage)