// Friends list
html
    head
        title #{title}
        style
            include ../css/userFrom.css
        script(src="/api/js?file=rsa.js")
        script(src="/api/js?file=api.js")
        script(src="/api/js?file=view_api.js")
        script.

          let friends = [#{friends}].sort();
          let outRequest = [#{outRequest}].sort();
          let inRequest = [#{inRequest}].sort();

          function addFriend(id, status) {
            Friends.add(id, function (err, res) {
              if (err) alert(err.error.message);
              else {
                document.getElementById("list").removeChild(document.getElementById("list").querySelector("#element" + id));
                if (!document.getElementById("list").hasChildNodes()) {
                  let object = document.createElement("p");
                  object.innerText = status;
                  document.getElementById("list").appendChild(object);
                }
                alert("#{requestSendAction}");
              }
            });
          }

          function deleteFriend(id, status) {
            Friends.delete(id, function (err, res) {
              if (err) alert(err.error.message);
              else {
                document.getElementById("list").removeChild(document.getElementById("list").querySelector("#element" + id));
                if (!document.getElementById("list").hasChildNodes()) {
                  let object = document.createElement("p");
                  object.innerText = status;
                  document.getElementById("list").appendChild(object);
                }
                alert("#{deletedFriendAction}");
              }
            });
          }

          function removeAllChildes(id) {
            let obj = document.getElementById(id);
            while (obj.hasChildNodes()) {
              obj.removeChild(obj.lastChild);
            }
          }

          function showFriends() {
            document.getElementById("friendsList").hidden = true;
            document.getElementById("inList").hidden = false;
            document.getElementById("outList").hidden = false;
            removeAllChildes("list");
            if (friends.length > 0) {
              for (let id of friends) {
                createPartList(id, "#{deleteFriendText}", "deleteFriend(" + id + ", \"#{haveNotFriends}\")");
              }
            } else {
              let object = document.createElement("p");
              object.innerText = "#{haveNotFriends}";
              document.getElementById("list").appendChild(object);
            }
          }

          function showIn() {
            document.getElementById("friendsList").hidden = false;
            document.getElementById("inList").hidden = true;
            document.getElementById("outList").hidden = false;
            removeAllChildes("list");
            if (inRequest.length > 0) {
              for (let id of inRequest) {
                createPartList(id, "#{addFriendText}", "addFriend(" + id + ", \"#{haveNotIn}\")");
              }
            } else {
              let object = document.createElement("p");
              object.innerText = "#{haveNotIn}";
              document.getElementById("list").appendChild(object);
            }
          }

          function showOut() {
            document.getElementById("friendsList").hidden = false;
            document.getElementById("inList").hidden = false;
            document.getElementById("outList").hidden = true;
            removeAllChildes("list");
            if (outRequest.length > 0) {
              for (let id of outRequest) {
                createPartList(id, "#{cancel}", "deleteFriend(" + id + ", \"#{haveNotOut}\")");
              }
            } else {
              let object = document.createElement("p");
              object.innerText = "#{haveNotOut}";
              document.getElementById("list").appendChild(object);
            }
          }

          function createPartList(id, status, func) {
            return new Promise(function (res, rej) {
              Account.get(id, function (err0, res0) {
                if (err0) rej(err0);
                else {
                  Photos.getTargetId(id, 1, function (err1, res1) {
                    if (err1) rej(err1);
                    else {
                      let object = document.createElement("div");
                      object.setAttribute("class", "part");
                      let image = document.createElement("img");
                      image.setAttribute("id", "image" + id);
                      image.setAttribute("class", "s");
                      image.src = new Base.url(Base.domain, "api/photos.get?id=" + res1.response + "&type=s");
                      image.onerror = function () {
                        image.hidden = true;
                      }
                      let p = document.createElement("p");
                      p.innerText = res0.response.login;
                      p.setAttribute("style", "margin: auto;");

                      let button = document.createElement("input");
                      button.setAttribute("class", "menu");
                      button.setAttribute("type", "button");
                      button.setAttribute("value", status);
                      button.setAttribute("onclick", func);
                      button.setAttribute("style", "grid-column-start: 3;");
                      let li = document.createElement("li");
                      li.setAttribute("id", "element" + id);

                      object.appendChild(image);
                      object.appendChild(p);
                      object.appendChild(button);
                      li.appendChild(object);
                      document.getElementById("list").appendChild(li);
                      res();
                    }
                  });
                }
              });
            });
          }
          function showBlack() {
            window.location.replace("/" + Base.lang + "/black");
          }

          function showAccount() {
            window.location.replace("/" + Base.lang + "/");
          }

          window.onload = showFriends;
    body
        div.divide
            div.left
                input.menu(id="account" type="button" value=accountText onclick="showAccount()")
                input.menu(id="friends" type="button" value=friendsText onclick="")
                input.menu(id="black" type="button" value=blackListText onclick="showBlack()")
            div.right
                ul(style="list-style: none;")
                    li
                        div.grid(id="buttons")
                            input.menu(id="friendsList" type="button" value=friendsText onclick="showFriends()" style="flex: 1 1 auto; margin: 5px;" hidden)
                            input.menu(id="inList" type="button" value=inputRequestText onclick="showIn()" style="flex: 1 1 auto; margin: 5px;")
                            input.menu(id="outList" type="button" value=outputRequestText onclick="showOut()" style="flex: 1 1 auto; margin: 5px;")
                    li
                        div
                            ul(id="list" style="list-style: none;")