html
    head
        title #{title}
        style
            include ../css/registerForm.css
        script(src="/api/js?file=rsa.js")
        script(src="/api/js?file=api.js")
        script(src="/api/js?file=view_api.js")
        script.
          reset(["login", "password"], ["remember"]);
          createSendFunction("post/login", {
            login: {},
            password: {
              check: function (value, callback) {
                Server.getPublicKey(function (err, res) {
                  if (err) callback(err);
                  else {
                    try {
                      callback(undefined, new document.NodeRSA(res.response, "pkcs1-public-pem").encrypt(password, "base64"));
                    } catch (err) {
                      callback(err);
                    }
                  }
                });
              }
            },
            remember: {
              check: function (value, callback) {
                callback(undefined, !!value);
              }
            }
          });
    body
        div(id="loading" hidden)
            h1 #{loading}
        div(id="main")
            h1 #{loginForm}
            h2(id="error" hidden)
            p
                b #{login}
                br
                input(id='login' name='login' type='text' placeholder=placeholderLogin required)
            p
                b #{password}
                br
                input(id='password' name='password' type='password' placeholder=placeholderPassword required)
            p
                input(id='remember' name='remember' type='checkbox')
                a #{remember}
                br
            p
                input(type='button' value=log_in onclick="send()")
            p
                input(type='button' value=resetMessage onclick="reset()")
