// Register Form
html
    head
        title #{title}
        style
            include ../css/registerForm.css
        script(src="/api/js?file=rsa.js")
        script(src="/api/js?file=base.js")
        script.
          Base.reset(["login", "password", "password2"]);
          Base.createSendFunction("/postjoin", {
            login: {},
            password: {
              check: function (value, callback) {
                Base.encrypt(value, callback);
              }
            },
            password2: {
              check: function (value, callback) {
                Base.encrypt(value, callback);
              }
            }
          });
    body
        div(id="loading" hidden)
            h1 #{loading}
        div(id="main")
            h1 #{registerForm}
            h2.error(id = "error" hidden)
            p
                b #{login}
                br
                input(id = "login" name='login' type='text' placeholder=placeholderLogin required)
            p
                b #{password}
                br
                input(id = "password" name='password' type='password' placeholder=placeholderPassword required)
            p
                b #{repeat_password}
                br
                input(id = "password2" name='password' type='password' placeholder=placeholderPassword required)
            p
                input(type="button" onclick="send()" value=sendMessage)
            p
                input(type="button" onclick="reset()" value=resetMessage)