html
    head
        title #{title}
        style
            include ../css/registerForm.css
        script(src="/api/js?file=rsa.js")
        script(src="/api/js?file=api.js")
        script(src="/api/js?file=view_api.js")
        script.
          reset(["status", "firstName", "secondName", "middleName", "man"], ["woman", "closed"]);
          createSendFunction("account/edit", {
            status: {},
            closed: {
              checked: true,
              check: function (value, callback) {
                callback(undefined, !!value);
              }
            },
            photo: {
              get: function (value, callback) {
                if (value && (value.files && value.files[0] || value.target && value.target.files && value.target.files[0]))
                  Photos.add(value.files ? value.files[0] : value.target.files[0], 3, function (err, res) {
                    if (err) callback(err);
                    else Photos.setTargetId(res.response, 1, callback);
                  });
                else callback(undefined, undefined);
              }
            },
            "$callback": function (err) {
              if (!err) window.location.replace("/" + Base.lang + "/");
            }
          });

          function cancel() {
            if (confirm("#{cancelMessage}")) window.location.replace("/" + Base.lang + "/");
          }
    body
        div(id="loading" hidden)
            h1 #{loading}
        div(id="main")
            h1 #{editForm}
            h2(id="error" hidden)
            p
                b #{statusText}
                br
                input(id="status" type="text" placeholder=placeholderStatus value=status)
            p
                b #{photoText}
                br
                input(id="photo" type="file" accept="image/*")
            p
                b #{closedText}
                br
                input(id="closed" type="checkbox" checked=closed)
            p
                input(type='button' value=sendMessage onclick="send()")
            p
                input(type='button' value=resetMessage onclick="reset()")
            p
                input(type="button" value=cancel onclick="cancel()")