// User info form
html
    head
        title #{title}
        style
            include ../css/userFrom.css
        script(src="/api/js?file=rsa.js")
        script(src="/api/js?file=base.js")
        script.
          var id = #{id};

          function showAccount() {
            window.location.replace("/" + Base.lang + "/");
          }

          function showFriends() {
            window.location.replace("/" + Base.lang + "/friends");
          }

          function showBlack() {
            window.location.replace("/" + Base.lang + "/black");
          }

          function showSettings() {
            window.location.replace("/" + Base.lang + "/edit");
          }

          function exit() {
            if (confirm("#{exitMessage}")) window.location.replace("/reset");
          }

          function addFriend() {
            Base.sendRequestToServer("friends.add", {id: #{id}}, function (err, res) {
              if (err) alert(err.error.message);
              else {
                document.getElementById("addFriend").hidden = true;
                document.getElementById("deleteFriend").hidden = false;
                alert("#{requestSendAction}");
              }
            });
          }

          function addBlack() {
            Base.sendRequestToServer("blacklist.add", {id: #{id}}, function (err, res) {
              if (err) alert(err.error.message);
              else {
                document.getElementById("addBlack").hidden = true;
                document.getElementById("deleteBlack").hidden = false;
                alert("#{addedBlackAction}");
              }
            });
          }

          function deleteBlack() {
            Base.sendRequestToServer("blacklist.delete", {id: #{id}}, function (err, res) {
              if (err) alert(err.error.message);
              else {
                document.getElementById("addBlack").hidden = false;
                document.getElementById("deleteBlack").hidden = true;
                alert("#{deletedBlackAction}");
              }
            });
          }

          function deleteFriend() {
            Base.sendRequestToServer("friends.delete", {id: #{id}}, function (err, res) {
              if (err) alert(err.error.message);
              else {
                document.getElementById("addFriend").hidden = false;
                document.getElementById("deleteFriend").hidden = true;
                alert("#{deletedFriendAction}");
              }
            });
          }
          Base.sendRequestToServer("photos.getTarget", {id: id, target: 1}, function (err, res) {
            if (err) console.log(err);
            else {
              let img = document.createElement("img");
              img.setAttribute("id", "image#{id}");
              img.setAttribute("class", "p");
              img.src = new Base.url(Base.domain, "api/photos.get?id=" + res.response + "&type=p");
              img.onerror = function () {
                img.hidden = true;
              }
              document.getElementById("imageDiv").appendChild(img);
            }
          });

    body
        div.divide
            div.left
                input.menu(id="account" type="button" value=accountText onclick="showAccount()")
                input.menu(id="friends" type="button" value=friendsText onclick="showFriends()")
                input.menu(id="black" type="button" value=blackListText onclick="showBlack()")
                input.menu(id="settings" type="button" value=editForm onclick="showSettings()")
                input.menu(id="exit" type="button" value=exit onclick="exit()")
                input.menu(id="addFriend" type="button" value=addFriendText onclick="addFriend()" hidden = !canAddToFriend)
                input.menu(id="deleteFriend" type="button" value=deleteFriendText onclick="deleteFriend()" hidden = !canDeleteFromFriend)
                input.menu(id="addBlack" type="button" value=addBlackText onclick="addBlack()" hidden = !canAddToBlack)
                input.menu(id="deleteBlack" type="button" value=deleteBlackText onclick="deleteBlack()" hidden = !canDeleteFromBlack)
            div.right
                div(id="imageDiv")
                if (login)
                    p #{login}
                if (status)
                    P #{statusText}: #{status}
                    br